
@function breakpoint-next($name, $bps: $breakpoints, $bp-names: map-keys($bps)) {
  $n: index($bp-names, $name);
  @return if($n < length($bp-names), nth($bp-names, $n + 1), null);
}

@function breakpoint-prev($name, $bps: $breakpoints, $bp-names: map-keys($bps)) {
  $n: index($bp-names, $name);
  @return if($n > 1, nth($bp-names, $n - 1), null);
}

@function breakpoint-min($name, $bps: $breakpoints) {
  $min: map-get($bps, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $bps: $breakpoints) {
  $next: breakpoint-next($name, $bps);
  @return if($next, breakpoint-min($next, $bps) - 1px, null);
}

@mixin media-breakpoint-up($name, $bps: $breakpoints) {
  $min: breakpoint-min($name, $bps);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name, $bps: $breakpoints) {
  $max: breakpoint-max($name, $bps);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-between($lower, $upper, $bps: $breakpoints) {
  @include media-breakpoint-up($lower, $bps) {
    @include media-breakpoint-down($upper, $bps) {
      @content;
    }
  }
}
