@mixin float-none() {
  position:none !important;
}
@mixin float-left() {
  float:left !important;
}
@mixin float-right() {
  float:right !important;
}
@mixin float($type) {
  @if $type == right {
    @include float-right;
  } @else if $type == left {
    @include float-left;
  } @else {
    @include float-none;
  }
}
@mixin make-float($makes, $suffix: false) {
  @each $selector, $type in $makes {
    $name: if($suffix, #{$selector}-#{$suffix}, #{$selector});
    .float-#{$name} {
      @include float($type);
    }
  }
}
@mixin make-float-responsive($makes, $bps: $breakpoints) {
  @each $bp-name in map-keys($bps) {
    $prev: breakpoint-prev($bp-name, $bps);
    $next: breakpoint-next($bp-name, $bps);
    @if $prev == null {
      @include media-breakpoint-down($bp-name, $bps) {
        @include make-float($makes, $bp-name);
      }
    } @else if ($next == null) {
      @include media-breakpoint-up($bp-name, $bps) {
        @include make-float($makes, $bp-name);
      }
    } @else {
      @include media-breakpoint-between($bp-name, $next, $bps) {
        @include make-float($makes, $bp-name);
      }
      $bp-name-down: #{$bp-name}-down;
      @include media-breakpoint-down($bp-name, $bps) {
        @include make-float($makes, $bp-name-down);
      }
      $bp-name-up: #{$bp-name}-up;
      @include media-breakpoint-up($bp-name, $bps) {
        @include make-float($makes, $bp-name-up);
      }
    }
  }
}