@mixin text-center() {
  text-align:center !important;
}
@mixin text-left() {
  text-align:left !important;
}
@mixin text-right() {
  text-align:right !important;
}
@mixin text($type) {
  @if $type == right {
    @include text-right;
  } @else if $type == center {
    @include text-center;
  } @else {
    @include text-left;
  }
}
@mixin make-text($makes, $suffix: false) {
  @each $selector, $type in $makes {
    $name: if($suffix, #{$selector}-#{$suffix}, #{$selector});
    .text-#{$name} {
      @include text($type);
    }
  }
}
@mixin make-text-responsive($makes, $bps: $breakpoints) {
  @each $bp-name in map-keys($bps) {
    $prev: breakpoint-prev($bp-name, $bps);
    $next: breakpoint-next($bp-name, $bps);
    @if $prev == null {
      @include media-breakpoint-down($bp-name, $bps) {
        @include make-text($makes, $bp-name);
      }
    } @else if ($next == null) {
      @include media-breakpoint-up($bp-name, $bps) {
        @include make-text($makes, $bp-name);
      }
    } @else {
      @include media-breakpoint-between($bp-name, $bp-name, $bps) {
        @include make-text($makes, $bp-name);
      }
      $bp-name-down: #{$bp-name}-down;
      @include media-breakpoint-down($bp-name, $bps) {
        @include make-text($makes, $bp-name-down);
      }
      $bp-name-up: #{$bp-name}-up;
      @include media-breakpoint-up($bp-name, $bps) {
        @include make-text($makes, $bp-name-up);
      }
    }
  }
}