// Variables
@import "../variables/breakpoints";
@import "../variables/config";

// Mixins
@import "../mixins/breakpoints";
@import "../mixins/float";

@if map-get($asgrid-use, float) {
  /* FLOAT */
  $makes: (
    left: left,
    right: right,
    none: none
  );
  @include make-float($makes);
  @include make-float-responsive($makes, $breakpoints);
}